@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606328210798'); /* IE9 */
  src: url('iconfont.eot?t=1606328210798#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAQkAAsAAAAACHwAAAPWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDFAqELINjATYCJAMQCwoABCAFhG0HWRteB8ieg43jWMLIk6eTXupTBNF+7Gfv7gmmSZJJons1TyQSoRMiREqmaiM0EtW+lMDP51kvzSDpWBkSxU/rcCEXK/kEtl35tsc9TwMELMVOf8D//zlmuhTPb7M5RSVFFu0NcJRAA4sKXAtuJ463yC7iTF7UbgKdJqTBthra+oBQoEGBuNaoZEDk5EpLdGiFumZmgbgDZ21aI3kG4Db8+/gPOREgqTKgkXtX9Uqo+j749wS+eDpjHAGM6bTQ5pGxCBTislZ/AY9di3CdzmZOloFaEdL3ob8npmdKWihnm//wWiQhEzUgfreIXeHlq2JQMonvQ2SC7xNyWUQXRetpPA8APkXx2DQnhJh198yqEuz2gUOV5xzrbOk7Qsymw5ZA/JGT9rXvkk7DAVv/Okem1XrE7H/+3dTlV4tf53tce7vkTQG4v9ljDjkaPZ7Yove/m7fOimFLhtil8rVSKVl3aq2/yQQS77Z+N4dj0Go5avJ/965viRG4QgaLzfOwvW8K3LFD1Yk2WzSYjxwLwlRqawhcfhUu2TPDulGYxbLWBHB/Pc796M1QfNetRI8jN0IGjlxndR7sxYw6SRfpda0/VUFGXN3PFTEufwvH10/URHcKV02Y0iMHeqsha9nJhX9dJhNnTlX4tk7FdsRO7ef+P/cvbmklCCpaHE2EvE6Qt4m/xFrWBy+uxxEnL3inD7uWaHByMz25tMjXhfN6si9wA7Hb9yPhN+/seqWn4HPhiNPq5MSa9BobcRty3ltCPr0/Mh4y0F4NeNTgNunr1lrq5ou1MqgXExIZhLWOH7S4AiB+8f2nZANxy/cWz3Ct2L94f4UrhNISssYALHRIPpHYAX7lARwD5AX8j/dy8xjwZ9Kr7H/r9tRVH7/vbw1NvwrA3a2Exvi/DGBJcVlIUYrNpnTPWGy8KUdCJ1bwX2Nh0NcphCNgB6HNMTRIGuOQtSaRBbsIlS4rUGutQqcFjfO7DOHhopDAvBUChH7nIOn1Clm/58iC/QKVUf+g1h8OnU7Cb8Uu02mktTySiUhJyedQGgVjpIlKlEbRPUg1Qy/js6wQN4B4QWOlsjOyit5GZET8FGOEmaocUaQpmmcMVIOwH9LrGYrlGS1SiBlqUWRLMjPpuhtlKBgDSG3iITIiRIkiNwdFQ4FhRPPKImnp9z0QlRn0ZPiWog7lAIQn0LROyZYhC4Bs5BtBRbfSXjCTSg6RiJb70XgMA0qDqEX02MWgsPXdtBAFUQb1AAerRKZUjobyM5YXGt5wE3RCbUtIMBxzwpyh5+Aiv5QZVXpUy7BzPHNlslVdDgAAAA==') format('woff2'),
  url('iconfont.woff?t=1606328210798') format('woff'),
  url('iconfont.ttf?t=1606328210798') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606328210798#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-RectangleCopy:before {
  content: "\e6a3";
}

.icon-RectangleCopy1:before {
  content: "\e6a2";
}

.icon-RectangleCopy2:before {
  content: "\e6a9";
}

