html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}


*,
*:after,
*:before {
	box-sizing: border-box
}

:root {
	--primary-text-color: #043959;
	--primary-color: #3071cd;
	--secondary-color: #2e69cb
}

:focus {
	outline: none;
	outline-offset: .125rem
}

body {
	font-family: "Inter", sans-serif;
	color: var(--primary-text-color);
	line-height: 1.5;
	font-size: 1em
}

input,
button {
	font: inherit;
	border-radius: 0;
	border: 0;
	background-color: transparent;
	box-shadow: none
}

.container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-height: 100vh;
	background: url(../images/bg.jpg) center no-repeat;
	background-size: cover;
	/* background-image: linear-gradient(135deg, #52E5E7 5%, #130CB7 100%) */
}

.panel {
	background-color: #FFF;
	width: 34rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 4rem 3rem;
	border-radius: .5rem;
	box-shadow: .75rem .75rem 1.75rem 0 rgba(0, 0, 0, 0.25);
}

.panel-header {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column
}

.panel-header-logo {
	width: 5rem;
	height: 5rem
}

.panel-header-logo img {
	max-width: 100%;
	max-height: 100%;
	display:block;
}

.panel-header-title {
	margin-top: 1.5rem;
	font-size: 1.75rem;
	font-weight: 700
}

.panel-header-info {
	margin-top: 1rem;
	text-align: center
}

.link {
	text-decoration: none;
	color: var(--primary-color);
	border-bottom: .0625rem solid
}

.link:hover {
	color: var(--secondary-color)
}

.form {
	margin-top: 2rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column
}
.remember{margin-top: 0.5rem;}
.input {
	display: flex;
	padding: .5rem .75rem;
	min-height: 3rem;
	border-radius: 0.3em;
	border: .0625rem solid #ccc;
	align-items: center;
}
.input .iconfont{
    font-size: 1.5rem;
}
.input img{
    display: block;
    width: 8.5rem;
    height: 2.6rem;
    border-left: solid 1px #ccc;
    padding-left: 0.5rem;
    cursor: pointer;
}
.input+.input {
	margin-top: 1.5rem
}

.input-field {
	/* margin-top: .25rem; */
	/* border: .0625rem solid #ccc; */
	/* border-radius: 0.3em; */
}

.input-submit {
	padding: 1rem;
	background-color: var(--primary-color);
	color: #FFF;
	line-height: 3rem;
	margin-top: 1.5rem;
}

.input-submit:hover {
	background-color: var(--secondary-color)
}

.input-field,
.input-submit {
	padding: .5rem .75rem;
	min-height: 3rem;
	border-radius: 0.3em;
	flex: 1;
	border: none;
	outline: none;
}

